Flask==2.2.5
gunicorn==23.0.0
requests==2.32.2
flask-sqlalchemy==2.5.1
flask-login==0.6.2
flask-migrate==4.0.4
flask-wtf==1.0.1
flask-testing==0.8.1
python-dotenv==0.21.0
pytest==8.3.5
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
